<%= simple_form_for user_quest, url: quest_user_quests_path(quest), method: :post do |f| %>

<%= f.input :comment, label: false, input_html: { 'data-comment-target': "output", class: "d-none"} %>

<%= hidden_field_tag "user_quest[user_id]", current_user.id %>
<%= hidden_field_tag "user_quest[quest_id]", quest.id %>
<%= hidden_field_tag "user_quest[user_occurences]", 1 %>
<div class="d-flex justify-content-center dubble-button" >
  <%= link_to "BACK", quests_path, class: "btn-start"  %>
  <%= f.submit  "FINISH", class: "btn-start", data: { "action": "click->progress-bar#updateBar" } %>
</div>
<% end %>
