<%= render 'shared/shiba' %>
<p>it's amazing</p>

<% if current_user.guild_choices.present? %>
  <div class="questContainer" style="background-color: #EBAD1C" >
    <div class="row">
      <div class="col-12 col-lg-6" style="background-color: #009900">

        <% @quests.each do |quest| %>
        <%# quest.user_quests.any? && user_quest.status == validated %>
            <div class="questCard" style="background-color: #2B58A9">
              <%= link_to "toshow", quest_path(quest) %>
              <p><%= " Quest lvl :#{quest.level} - #{quest.title} - ?/#{quest.occurences}"%></p>
                  <div class="progress" data-progress-bar-target="progressBar">
                    <div class="progress-bar">
                    </div>
                  </div>


            </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="swiper">
    <div class="swiper-wrapper">
      <% @guilds.each do |guild| %>
        <div class="swiper-slide">
          <%= cl_image_tag guild.icon.key, height: 300, width: 400, crop: :fill %>
          <h1><%= guild.name %></h1>
          <%= render "form", guild: guild, guild_choice: @guild_choice %>
        </div>
      <% end %>
    </div>
    <div class="swiper-button-prev">Précédent</div>
    <div class="swiper-button-next">Suivant</div>
  </div>
<% end %>
