
<div class="guild-choice-container p-4">
  <%= render 'shared/shiba' %>
  <% if current_user.guild_choices.present? %>
    <%= render 'shared/quests_cards' %>

    <% if params[:leveled_up].present? %>
      <div class="modal-overlay" id="modal-overlay"></div>

      <div class="modal" id="modal">
        <div class="modal-body">
          <h1>Congratulations !</h1>
          <h2>You have leveled up !</h2>
          <h2>If you keep going, you'll slay dragon sooner than you think.</h2>
        </div>
        <%= link_to "Continue my journey", quests_path, class: "modal-button" %>
      </div>
    <% end %>


  <% else %>
    <%= simple_form_for @guild_choice, url: guild_choices_path, method: :create do |f| %>
      <%= hidden_field_tag "guild_choice[user_id]", current_user.id %>
      <div class="swiper guild-cards">
        <div class="swiper-wrapper">
          <% @guilds.each do |guild| %>
            <div class="swiper-slide guild-card">
              <div classe="guild-choice">
                <%= f.radio_button(:guild_id, guild.id, id: "guild_choice_#{guild.name}", class: "guild-button" ) %>
                <%= f.label guild.name do %>
                  <%= cl_image_tag guild.icon.key%>
                  <h1><%= guild.name %></h1>
                  <div class="guild-description">
                    <%= guild.description %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="relative-btn">
        <button type="submit" class="cybr-btn d-flex justify-content-center">
          Choose this guild<span aria-hidden></span>
          <span aria-hidden class="cybr-btn__glitch">Choose this guild</span>
        </button>
      </div>
    <% end %>

  <% end %>
</div>
