
<div class="guild-choice-container p-4">
  <%= render 'shared/shiba' %>
  <% if current_user.guild_choices.present? %>
    <%= render 'shared/quests_cards' %>

    <% if params[:leveled_up].present? %>
      <div class="modal-overlay" id="modal-overlay"></div>

      <div class="modal" id="modal">
        <div class="modal-body">
          <h1>Congratulations !</h1>
          <h2>You have leveled up !</h2>
          <h2>If you keep going, you'll slay dragon sooner than you think.</h2>
        </div>
        <%= link_to "Continue my journey", quests_path, class: "modal-button" %>
      </div>
    <% end %>


  <% else %>
    <div class="swiper guild-cards">
      <div class="swiper-wrapper">
        <% @guilds.each do |guild| %>
          <div class="swiper-slide guild-card">
            <input type="checkbox" class="guild-choice" id="<%= guild.name %>">
            <label for="<%= guild.name %>">
              <%= cl_image_tag guild.icon.key%>
              <h1><%= guild.name %></h1>
              <p><%= guild.description %></p>
            </label>
            <%= render "form", guild: guild, guild_choice: @guild_choice %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
