
<div class="all-quest-category-show d-flex">
  <%# ICON %>
  <div class="quest-icon-show">
    <% if @quest.categorie == "Social" %>
      <%=  image_tag "social.png", class:"icon-category-show", alt:"Social icon" %>
    <% elsif @quest.categorie == "Mental" %>
      <%=  image_tag "mental.png", class:"icon-category-show", alt:"Social icon" %>
    <% elsif @quest.categorie == "Physical" %>
      <%=  image_tag "physical.png", class:"icon-category-show", alt:"Social icon" %>
    <% end %>
  </div>
  <%# TITLE %>
  <div class="category-quest-show p-2">
    <h1><%= @quest.categorie.upcase %></h1>
  </div>
</div>


<div class="container-user-quest" data-controller="progress-bar">
  <div class="col-12 col-md-6">
    <div class="card card-quest">
      <div class="shiba">
        <%= image_tag "https://res.cloudinary.com/df6z4mw2e/image/upload/v1654178156/Heroes%20app/Icons/saphatthachat190600141-removebg-preview_we9qwu.png"%>
      </div>
      <p><%= "Level #{@quest.level}"%></p>
      <h1><%= "#{@quest.title}"%></h1>
      <p><%= "#{@quest.content}"%></p>
      <p><%= "#{@quest.tips}"%></p>
      <div class="progress-bar-placement" data-progress-bar-target="progressBar">
        <div class="progress">
          <div class="progress-bar">
          </div>
        </div>
      </div>

      <div class="answer-area input-group">
        <%# <div class="input-group-prepend"> %>
          <%# <span class="input-group-text">My answer</span> %>
        <%# </div> %>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
    </div>
  </div>

  <% if @quest.occurences == 1 %>
    <%= render "form_quest", quest: @quest, user_quest: @user_quest %>
  <% else %>
    <% if current_user.user_quests.where(quest_id: @quest.id).any? %>
      <%= render "form_update_quest", quest: @quest, user_quest: @user_quest %>
    <% else %>
      <%= render "form_occ_quest", quest: @quest, user_quest: @user_quest %>
    <% end %>
  <% end %>
</div>
