<h1>Quest category</h1>

<div class="container"></div>
  <div class="container-user-quest col-12 col-lg-6" data-controller="progress-bar">
    <%= render 'shared/shiba' %>

      <div class="card-quest">
        <p><%= "Level #{@quest.level}"%></p>
        <h1><%= "#{@quest.title}"%></h1>
        <p><%= "#{@quest.content}"%></p>
        <p><%= "#{@quest.occurences}"%></p>
        <div class="progress" data-progress-bar-target="progressBar">
          <div class="progress-bar">
          </div>
        </div>
      </div>

    <%= render "form_quest", quest: @quest, user_quest: @user_quest %>
</div>
</div>
