<h1>Quest category</h1>

<%= render 'shared/shiba' %>
<div class="container" data-controller="progress-bar">
  <div class="col-12 col-md-6">
    <div class="card card-quest">
      <p><%= "Level #{@quest.level}"%></p>
      <h1><%= "#{@quest.title}"%></h1>
      <p><%= "#{@quest.content}"%></p>
      <p><%= "#{@quest.occurences}"%></p>
      <p><%= "#{@quest.tips}"%></p>
        <%= render "form_quest", quest: @quest, user_quest: @user_quest %>
      <div class="container-bar">
        <div class="progress" data-progress-bar-target="progressBar">
          <div class="progress-bar">
          </div>
        </div>
      </div>
    </div>
  </div>
    <%= render "form_quest", quest: @quest, user_quest: @user_quest %>
</div>
