<h1>Quests#show</h1>


<div class="container">
  <div class="col-12 col-md-6">
    <div class="card card-quest">
      <p><%= "Level #{@quest.level}"%></p>
      <h1><%= "#{@quest.title}"%></h1>
      <p><%= "#{@quest.content}"%></p>
      <p><%= "#{@quest.occurences}"%></p>
      <p><%= "#{@quest.tips}"%></p>
      <br>
    </div>
  </div>
    <%= render "form_quest", quest: @quest, user_quest: @user_quest %>
</div>

<%# <div>
  <h2 class= "btn-start">START</h2>
</div> %>
