<div class="navbar-user sticky p-4">
  <div class="d-flex w-100">
    <div class= "navbar-avatar">
      <%= image_tag "https://res.cloudinary.com/df6z4mw2e/image/upload/v1654167316/Heroes%20app/Icons/pxArt_2_ihrfi7.png", class: "behind-avatar"%>
    </div>
    <div class="user-infos-navbar d-flex">
      <h2><%= link_to "#{current_user.nickname.capitalize}", "/404" %></h2>
      <div class="level-infos">
        <p class="level">Level <%= current_user.level %></p>
        <div class="progress-bar-user">
          <div class="progress active">
            <div class="progress-bar user-bar" style="width: <%= (current_user.user_quests.count - ((current_user.level - 1) * 5)) * 20 %>%" role="progressbar" aria-valuenow="<%= (current_user.user_quests.count - ((current_user.level - 1) * 5)) * 20 %>" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between" >
          <p> Quests</p>
          <p><%= (current_user.user_quests.count - ((current_user.level - 1) * 5)) %> /5</p>
        </div>
      </div>
    </div>
  </div>
</div>
