<div class="mx-auto login">
<h1>Log in</h1>
  <div class="opacite mx-auto p-4">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <h2><%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %></h2>
        <h2><%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %></h2>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <h2><%= f.button :submit, "LOG IN", class: "btn-start" %></h2>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
