
<div class="guild-choice-container col-12">

  <div class="history-title">
    <h1>Your journey history</h1>
    <p>Good job ! Look at what you manage to do so far 💪</p>
  </div>

  <div class="quests-list">
    <% @user_quests.each do |user_quest| %>

      <div class="quest-card-validated">
        <div class="level">
          <b><p>Level <%= user_quest.quest.level %></p></b>
        </div>

        <div class="quest-history d-flex">
          <div class="quest-icon">
            <% if user_quest.quest.categorie == "Social" %>
              <%=  image_tag "social.png", class:"icon-category", alt:"Social icon" %>
            <% elsif user_quest.quest.categorie == "Mental" %>
              <%=  image_tag "mental.png", class:"icon-category", alt:"Mental icon" %>
            <% elsif user_quest.quest.categorie == "Physical" %>
              <%=  image_tag "physical.png", class:"icon-category", alt:"Physical icon" %>
            <% end %>
          </div>

          <div  class="quest-title">
            <p>- <%= user_quest.quest.title %></p>
          </div>
        </div>
        <div class= "quest-content">
          <p><%= user_quest.quest.content  %></p>
        </div>

        <div class="progress-bar-placement">
          <div class=" progress-validated">
            <div class="progress-bar"></div>
          </div>
        </div>


        <% unless user_quest.comment == ""  %>
          <div class="bubble">
            <div class="bubble-text">
              <p><%= user_quest.comment  %></p>
            </div>
          </div>
          <br>
          <div class="history-user">
            <%= image_tag "https://res.cloudinary.com/df6z4mw2e/image/upload/v1654167316/Heroes%20app/Icons/pxArt_2_ihrfi7.png", class: "history-user-avatar"%>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>



</div>
