<!DOCTYPE html>
<html>
  <head>
    <title>HeroesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render'shared/navbar_user' if current_user.guild_choices.present? %>
    <% else %>
      <%= render 'shared/navbar_visitor' %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>

    <% if user_signed_in? %>
      <%= render 'shared/navbar_bottom' %>
    <% end %>
  </body>

</html>
